body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  zoom: unset !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link {
  font-family: 'Kumbh Sans', sans-serif !important;
}

.table-day {
  font-family: 'Kumbh Sans', sans-serif !important;
  font-weight: 700 !important;
  color: #282c34 !important;
}

.contacts {
  position: absolute;
  top: 1%;
  right: 2.4%;
  font-size: 20px;
  cursor: pointer;
}

.materials {
  color: #fff;
  text-decoration: unset;
  position: absolute;
  top: 6%;
  font-size: 20px;
  right: 2.4%;
}

a {
  color: #282c34;
}

input {
  text-align: center;
}

.MuiList-root {
  width: 50px;

}

.MuiList-root > li {
  padding: 6px 7px;
  font-size: 22px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.MuiPaper-root {
  display: inline-block;
}
